$white-color: #fff;
$black-color: #000;
$base-color: #1a3754;
$gray-color: #cbd0d7;
$hover-color: #6165f7;
$orange-color: #fdac47;
$blue-green-color: #728396;
$progress-color: #5a6882;


$bg-base: #1a3754;
$bg-white: #fff;
$bg-gray: #f3f6fb;
$bg-blue: #6165f7;
$bg-orange: #fdac47;
$bg-red: #fb3622;
$bg-orange-bright: #fdac47;
$bg-light-gray: #fcfcfc;
$bg-progress-gray: #eaeaea;

$main-border: #f4f4f4;

$forecast-border: #f8f8f8;
